@page "/hamster"

@using HamsterWars.Shared.Models
@inject IHamsterService HamsterService

    <PageTitle>Create a new hamster</PageTitle>
    <h3>Create a new hamster</h3>

<EditForm Model="@hamster"OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                     <div class="form-group">  
                        <label for="Name">Name: </label>  
                        <InputText id="Name" class="form-control" @bind-Value="@hamster.Name" placeholder="Enter hamsters name"></InputText>  
                    </div>
                 
                    <div class="form-group">  
                        <label for="Age">Age: </label>  
                        <InputNumber id="Age" class="form-control" @bind-Value="@hamster.Age" placeholder="Enter hamsters age"></InputNumber>  
                    </div>
                    <div class="form-group">  
                        <label for="favFood">Favorite food: </label>  
                        <InputText id="favFood" class="form-control" @bind-Value="@hamster.FavFood" placeholder="Enter favorite food"></InputText>  
                    </div> 
                    <div class="form-group">  
                        <label for="loves">Loves: </label>  
                        <InputText id="loves" class="form-control" @bind-Value="@hamster.Loves" placeholder="Enter what hamster loves"></InputText>  
                    </div
                    <div class="form-group">
                        <label for="imgName">Image: </label>
                        <InputFile id="imgName" class="form-control" OnChange="LoadFile" @bind-Value="hamster.ImgName" placeholder="Choose an image "></InputFile>
                    </div>
                     <div class="form-group">
                        <label for="Wins">Wins: </label>
                        <InputNumber id="Wins" readonly class="form-control" @bind-Value="hamster.Wins" placeholder="Total Wins "></InputNumber>
                    </div> 
                    <div class="form-group">
                        <label for="Losses">Losses: </label>
                        <InputNumber id="Losses" readonly class="form-control" @bind-Value="hamster.Losses" placeholder="Total Losses "></InputNumber>
                    </div> 
                    <div class="form-group">
                        <label for="games">Total number of battles: </label>
                        <InputNumber id="games" readonly class="form-control" @bind-Value="hamster.Games" ></InputNumber>
                    </div>
                   @if (failure)
                     {
                         <div class="col-md-4" style="margin-top:10px">
                         <ValidationSummary />
                        </div>
                    }
                     
                  <div class="endFormButtons">
                        <button type="submit" class="btn btn-primary">Create new hamster</button>
                   </div>
                   @if (success)
                     {
                         <div class="row bg-success text-white" style="margin-top:10px; height:40px">
                          <label class="p-2">@hamster.Name has been added to our hamster library! </label>
                         </div>
                    }
                  
</EditForm>



@code {

    Hamster hamster = new();

    string btnText = string.Empty;

    private List<IBrowserFile> picture = new();

    bool success = false;
    bool failure = true;
    string fileName = "";
    private int maxImg = 1;


    async Task HandleValidSubmit()
    {

        success = true;
        failure = false;
        GetPictureName(picture);
        await HamsterService.CreateNewHamster(hamster);

    }

    async Task HandleInvalidSubmit()
    {
        failure = true;
        success = false;

    }

    private void LoadFile(InputFileChangeEventArgs e)
    {
        picture.Clear();

        foreach(var file in e.GetMultipleFiles(maxImg))
        {
            picture.Add(file);

        }
    }

    private void GetPictureName(List<IBrowserFile> files)
    {
        var name = files.FirstOrDefault().ToString();

        hamster.ImgName = name;
    }

    
}
