@page "/hamster"
@using HamsterWars.Shared
@using HamsterWars.Shared.Entity
@inject IHamsterService HamsterService
@inject HttpClient http

    

    <PageTitle>Create a new hamster</PageTitle>
    <h3 class="formTitle">Add new hamster</h3>


    <div class = "createHamsterForm d-flex justify-content-center mx-auto">

<EditForm Model="@hamster"OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
                     <div class="form-group row">  
                         <div class="col-xs-2">  
                        <label for="Name">Name: </label>  
                        <InputText id="Name" class="form-control" @bind-Value="@hamster.Name" placeholder="Enter hamsters name"></InputText>  
                    </div>
                    </div>
                 
                    <div class="form-group">  
                        <label for="Age">Age: </label>  
                        <InputNumber id="Age" min="0" class="form-control" @bind-Value="@hamster.Age" placeholder="Enter hamsters age"></InputNumber>  
                    </div>
                    <div class="form-group">  
                        <label for="favFood">Favorite food: </label>  
                        <InputText id="favFood" class="form-control" @bind-Value="@hamster.FavFood" placeholder="Enter favorite food"></InputText>  
                    </div> 
                    <div class="form-group">  
                        <label for="loves">Loves: </label>  
                        <InputText id="loves" class="form-control" @bind-Value="@hamster.Loves" placeholder="Enter what hamster loves"></InputText>  
                    </div>
                    
                    <div class="form-group">
                        <label for="imgName">Image: </label>
                        <InputFile id="imgName" class="custom-file-input" OnChange="OnChange" accept="image/png, image/jpeg, image/gif" placeholder="Choose an image "></InputFile>
                    </div>
                     <div class="form-group">
                        <label for="Wins">Wins: </label>
                        <InputNumber id="Wins" readonly class="form-control" @bind-Value="hamster.Wins" placeholder="Total Wins "></InputNumber>
                    </div> 
                    <div class="form-group">
                        <label for="Losses">Losses: </label>
                        <InputNumber id="Losses" readonly class="form-control" @bind-Value="hamster.Losses" placeholder="Total Losses "></InputNumber>
                    </div> 
                    <div class="form-group">
                        <label for="games">Total number of battles: </label>
                        <InputNumber id="games" readonly class="form-control" @bind-Value="hamster.Games" ></InputNumber>
                    </div>
                   @if (failure)
                     {
                         <div class="col-xs-2" style="margin-top:10px">
                         <ValidationSummary />
                        </div>
                    }
                     
                  <div class="endFormButtons">
                        <button type="submit" class="btn btn-primary createBtn">Add @hamster.Name hamster</button>
                   </div>
                   @if (success)
                     {
                         <div class="row bg-success text-white" style="margin-top:10px; height:40px">
                          <label class="p-2">@hamster.Name has been added to our hamster library! </label>
                         </div>
                    }
                  
</EditForm>

</div>




